@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gallery";
}

    <title>Gallery</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.swipebox.js"></script>
    <link rel="stylesheet" href="~/Content/swipebox.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/creative.min.gallery.css" rel="stylesheet">
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"></h1>

            <br>  <br>  <br> <br>   <br>  <br>  <br>  <br> <br>   <br> <br>  <br>  <br> <br> <br>  <br>  <br> <h1>Gallery</h1> <br><br>   <br> <br>  <br> <br>   <br>

        </div>
    </div>
</header>

<section id="gallery" >
    <form>
        <script type="text/javascript">
            ; (function ($) {
                $('.popup').swipebox({
                    loopAtEnd: true
                });
            })(jQuery);
        </script>
        <div>
            <h2>Britney's wedding</h2>

            <a rel="gallery" href="/Images/gallery/wedding1.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/wedding1.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery" href="/Images/gallery/wedding2.jpeg" class="popup" title="">
                <img src="/Images/gallery/wedding2.jpeg" alt="background" height="200" width="300">
            </a>
            <a rel="gallery" href="/Images/gallery/wedding3.jpeg"  class="popup">
                <img src="/Images/gallery/wedding3.jpeg" alt="blackback" height="200" width="300">
            </a>
            <a rel="gallery" href="/Images/gallery/wedding4.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/wedding4.jpeg" alt="black" height="200" width="300" >
            </a>
            <a rel="gallery" href="/Images/gallery/wedding5.jpeg" class="popup"  title="Picture Title">
                <img src="/Images/gallery/wedding5.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/gallery/b" alt="black" height="200" width="300">
            </a>
            <a rel="gallery" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/b.jpg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/b.jpg" alt="black" height="200" width="300">
            </a>
        </div>

        <div>
            <h2>Smith's Dinner</h2>

            <a rel="gallery1" href="/Images/gallery/dinner1.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/dinner1.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/gallery/dinner2.jpeg" class="popup" title="">
                <img src="/Images/gallery/dinner2.jpeg" alt="background" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/gallery/dinner3.jpeg" class="popup">
                <img src="/Images/gallery/dinner3.jpeg" alt="blackback" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/gallery/dinner4.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/dinner4.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/gallery/dinner5.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/dinner5.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/gallery/dinner6.jpeg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/gallery/dinner6.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/gallery/b" alt="black" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/b.jpg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery1" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/b.jpg" alt="black" height="200" width="300">
            </a>
        </div>

        <div>
            <h2>St Marks Prom</h2>

            <a rel="gallery2" href="/Images/gallery/prom1.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/prom1.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/gallery/prom2.jpeg" class="popup" title="">
                <img src="/Images/gallery/prom2.jpeg" alt="background" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/gallery/prom3.jpeg" class="popup">
                <img src="/Images/gallery/prom3.jpeg" alt="blackback" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/gallery/prom4.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/prom4.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/gallery/prom5.jpeg" class="popup" title="Picture Title">
                <img src="/Images/gallery/prom5.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/gallery/prom6.jpeg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/gallery/prom6.jpeg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/gallery/b" alt="black" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/b.jpg" alt="black" height="200" width="300">
            </a>
            <a rel="gallery2" href="/Images/b.jpg" hidden="hidden" class="popup" title="Picture Title">
                <img src="/Images/b.jpg" alt="black" height="200" width="300">
            </a>
        </div>

</form>
</section>
<footer style="text-align:center; color:white; background-color:#161f32; height:50px; clear:both;">
    <br />
    &copy; @DateTime.Now.Year - JM's
    <br />
</footer>


