@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/creative.min.aboutus1.css" rel="stylesheet">
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"></h1>

            <br>  <br>  <br> <br>   <br>  <br>  <br>  <br> <br>   <br> <br>  <br>  <br> <br> <br>  <br>  <br> <h1>About Us</h1> <br><br>   <br> <br>  <br> <br>   <br>

        </div>
    </div>
</header>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">


                <i>Beyond your expections... let our family, take care of your family....</i><br />
                <br>
                <br />

                <p>Co-owners and operators: Vincent Sica & Robert Colavecchia along with their talented exceptional staff are dedicated to transforming your wedding dreams into reality.</p><br />

                <p>Centrally located in the Niagara Region, our beautifully appointed & recently renovated facility can accommodate from 100 - 400 guests.</p><br />

                <p>Offering artisanal cuisine combined with impeccable service and attention to detail in warm and inviting setting. Our professional culinary team offers a variety of inspired classic and contemporary preparations to satisfy all tastes and budgets.</p><br />

                <p>Applauded for our signature 40 foot Antipasto Bar, highlighting an impressive variety of European inspired, hand crafted and imported culinary presentations.</p> <br />

                <b>You're just a consultion away from your dreams coming true.</b><br />
        </div>
     </div>
 </div>
</section>

<aside class="callout">
    <div class="text-vertical-center">
    </div>
</aside>

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Your Happily Ever After Begins Now!</h2>
                <hr class="small">
                <div class="row">
               
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/images/portfolio/thumbnails/1.jpg">
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/images/portfolio/thumbnails/2.jpg">
                            </a>                          
                            <br />                  
                        </div>                       
                    </div>
                    
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/images/portfolio/thumbnails/3.jpg">
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/images/portfolio/thumbnails/5.jpg">
                            </a>
                        </div>
                    </div>
                    <br />
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>




    <footer style="text-align:center; color:white; background-color:#161f32; height:50px; clear:both;">
        <br />
    
        &copy; @DateTime.Now.Year - JM's
        <br />
    </footer>
